@page "/"
@using Strategia.Core.Dependency
@inherits StrategiaMainLayoutPageComponentBase

<div class="card">
    <div class="card-body">
        INDEX
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        DependencyResolver.Resolve<INavigationService>().NavigateTo(NavigationUrlConsts.Tenants);
    }
}