<div [@routerTransition]>
  <sub-header [title]="'Courses' | localize" [description]="'CoursesHeaderInfo' | localize">
    <div role="actions">
      <button (click)="exportToExcel()" class="btn btn-outline btn-outline-success btn-active-light-success me-1">
        <i class="fa fa-file-excel"></i>
        {{ l('ExportToExcel') }}
      </button>

      <button
        id="btn_create_course"
        *ngIf="isGranted('Pages.Courses.Create')"
        (click)="createCourse()"
        class="btn btn-primary blue"
      >
        <i class="bi bi-plus-lg fs-3"></i>
        {{ l('CreateNewCourse') }}
      </button>
    </div>
  </sub-header>

  <div [class]="containerClass">
    <div class="card card-custom gutter-b">
      <div class="card-body">
        <form class="form" autocomplete="off">
          <div>
            <div class="row align-items-center">
              <div class="col-xl-12">
                <div class="my-3">
                  <div class="input-group mb-3">
                    <input
                      [(ngModel)]="filterText"
                      (ngModelChange)="getCourses()"
                      name="filterText"
                      autoFocus
                      type="text"
                      class="form-control"
                      [placeholder]="l('SearchWithThreeDot')"
                    />
                    <button class="btn btn-primary" type="submit" (click)="getCourses()">
                      <i class="bi bi-search fs-3"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" [hidden]="!advancedFiltersAreShown">
              <div class="col-md-12"></div>

              <div class="col-md-3">
                <div class="my-3">
                  <label class="form-label" for="NameFilter">{{ l('Name') }}</label>
                  <input
                    type="text"
                    class="form-control"
                    id="NameFilter"
                    name="nameFilter"
                    [(ngModel)]="nameFilter"
                    (ngModelChange)="getCourses()"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="my-3">
                  <label class="form-label" for="DescriptionFilter">{{ l('Description') }}</label>
                  <input
                    type="text"
                    class="form-control"
                    id="DescriptionFilter"
                    name="descriptionFilter"
                    [(ngModel)]="descriptionFilter"
                    (ngModelChange)="getCourses()"
                  />
                </div>
              </div>

              <div class="col-md-3">
                <div class="my-3">
                  <label class="form-label" for="UserNameFilter">({{ l('User') }}) {{ l('Name') }}</label>
                  <input
                    type="text"
                    class="form-control"
                    id="UserNameFilter"
                    name="userNameFilter"
                    [(ngModel)]="userNameFilter"
                  />
                </div>
              </div>
              <div class="col-md-12 mt-5">
                <button (click)="resetFilters()" class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
              </div>
            </div>
            <div class="row my-4">
              <div class="col-sm-12">
                <span
                  class="clickable-item text-muted"
                  *ngIf="!advancedFiltersAreShown"
                  (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                >
                  <i class="fa fa-angle-down"></i>
                  {{ l('ShowAdvancedFilters') }}
                </span>
                <span
                  class="clickable-item text-muted"
                  *ngIf="advancedFiltersAreShown"
                  (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                >
                  <i class="fa fa-angle-up"></i>
                  {{ l('HideAdvancedFilters') }}
                </span>
              </div>
            </div>
          </div>
        </form>

        <div class="row align-items-center">
          <!--<Primeng-Datatable-Start>-->
          <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
            <p-table
              #dataTable
              (onLazyLoad)="getCourses($event)"
              [value]="primengTableHelper.records"
              rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
              [paginator]="false"
              [lazy]="true"
              [scrollable]="true"
              ScrollWidth="100%"
              [tableStyle]="{ 'min-width': '50rem' }"
              [resizableColumns]="primengTableHelper.resizableColumns"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Courses.Edit', 'Pages.Courses.Delete')">
                    {{ l('Actions') }}
                  </th>
                    <th style="width: 150px" pSortableColumn="name">
                    {{ l('Name') }}
                    <p-sortIcon field="course.name"></p-sortIcon>
                  </th>
                  <th style="width: 150px" pSortableColumn="userFk.name">
                    {{ l('Author') }}
                    <p-sortIcon field="userName"></p-sortIcon>
                  </th>
                  <!--<th style="width: 150px" pSortableColumn="description">
                    {{ l('Description') }}
                    <p-sortIcon field="course.description"></p-sortIcon>
                  </th>-->
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                <tr>
                  <td style="width: 130px" [hidden]="!isGrantedAny('Pages.Courses.Edit', 'Pages.Courses.Delete')">
                    <div class="btn-group dropdown" dropdown container="body">
                      <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                        <i class="bi bi-gear-fill"></i>
                        <span class="caret"></span>
                        {{ l('Actions') }}
                      </button>
                      <ul class="dropdown-menu" *dropdownMenu>
                        <li>
                          <a href="javascript:;" class="dropdown-item" (click)="viewCourseModal.show(record)">
                            {{ l('View') }}
                          </a>
                        </li>
                        <li>
                          <a
                            href="javascript:;"
                            *ngIf="permission.isGranted('Pages.Courses.Edit')"
                            class="dropdown-item"
                            (click)="createOrEditCourseModal.show(record.course.id)"
                          >
                            {{ l('Edit') }}
                          </a>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            href="javascript:;"
                            *ngIf="permission.isGranted('Pages.Courses.Delete')"
                            (click)="deleteCourse(record.course)"
                          >
                            {{ l('Delete') }}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td style="width: 150px">
                    <span class="p-column-title">{{ l('Name') }}</span>
                    {{ record.course.name }}
                  </td>
                  <td style="width: 150px">
                    <span class="p-column-title">{{ l('Name') }}</span>
                    {{ record.userName }}
                  </td>
                  <!--<td style="width: 150px">
                    <span class="p-column-title">{{ l('Description') }}</span>
                    {{ record.course.description }}
                  </td>-->
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{ l('NoData') }}
            </div>
            <div class="primeng-paging-container">
              <p-paginator
                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                #paginator
                (onPageChange)="getCourses($event)"
                [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                [showCurrentPageReport]="true"
                [currentPageReportTemplate]="'TotalRecordsCount' | localize : primengTableHelper.totalRecordsCount"
              ></p-paginator>
            </div>
          </div>
          <!--<Primeng-Datatable-End>-->
        </div>
      </div>
    </div>
  </div>
  <createOrEditCourseModal #createOrEditCourseModal (modalSave)="getCourses()"></createOrEditCourseModal>
  <viewCourseModal #viewCourseModal></viewCourseModal>
</div>
