<div [@routerTransition]>
    <div id="kt_app_content">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="  ">
            <!--begin::Hero card-->
            <div class="card bg-transparent border-0 mb-12">
                <!--begin::Hero body-->
                <div class="card-body p-0 flex-column">
                    <div class="mb-5 h-200px">
                        <img :src={{course.titleImage}} alt="" class="w-100 h-100 mb-6 object-fit rounded-3">
                    </div>
                    <!--begin::Title-->
                    
                    <div class="text-gray d-flex gap-3 justify-content-between align-items-center mb-3">
                        <h3>{{course?.name}}</h3>
                        <div class="d-flex gap-4">
                            <span class="d-flex gap-2 fs-4 align-items-center ">
                                <i class="bi bi-book fs-3 text-white"></i>
                                {{course?.lessonsFk?.length}} lessons
                            </span>
                            <span class="d-flex gap-2 fs-4 align-items-center ">
                                <i class="bi bi-clock fs-3 text-white"></i>
                                {{courseVeiw.lessonTime}}
                            </span>
                        </div>
                    </div>
                    <div *ngIf="TenentId" class=" enrollSection">
                        <span class="enrollSectionDate p-0 text-white d-flex gap-3 align-items-center">
                            <!-- <i class="bi bi-calendar4 fs-4 text-gray-500"></i> -->
                            <!-- Due Date: Oct 21, 2023 -->
                        </span>
                        <!--begin::Hero body-->
                        <div class="card-body flex-column enrollSectionText mt-4">
                            <button type="button" class="btn w-300px fw-vold btn-primary btnEnroll"
                                (click)="enrollCourseUser($event)" [disabled]="isEnrolled">
                                {{ isEnrolled ? 'Enrolled' : enrollText }}
                            </button>
                        </div>
                        <!--end::Hero body-->
                    </div>
                </div>
                <!--end::Hero body-->
            </div>
            <!--end::Hero card-->


            <!--begin::Home card-->
            <div class="card bg-transparent border-0 mb-12">
                <!--begin::Body-->
                <div class="card-body p-0">
                    <!--begin::Section-->
                    <div class="">
                        <!--begin::Title-->
                        <div class="text-gray-900  fs-2 mb-2">{{ l('About the Course') }}</div>
                        <!--end::Title-->
                        <!--begin::Separator-->
                        <!--<div class="separator separator-dashed mb-9"></div>-->
                        <!--end::Separator-->
                        <!--begin::Row-->
                        <div class="row">
                            <!--begin::Col-->
                            <div class="">
                                <!--begin::Feature post-->
                                <div class="h-100 d-flex flex-column justify-content-between pe-lg-6 mb-lg-0 mb-4">

                                    <!--begin::Body-->
                                    <div class="mb-0">

                                        <!--begin::Text-->
                                        <span class="mb-lg-3 fs-4 text-gray-500">
                                            {{course?.description}}
                                        </span>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Body-->

                                </div>
                                <!--end::Feature post-->

                            </div>

                            <!--end::Col-->
                        </div>
                        <!--begin::Row-->
                    </div>
                    <!--end::Section-->

                </div>
                <!--end::Body-->
            </div>

            <!--begin::Card widget 15-->
            <div class="card  bg-transparent border-0 mb-12">
                <!--begin::Body-->
                <div class="card-body p-0">
                    <!--begin::Row-->
                    <div class="text-gray-900  fs-2 mb-2">{{ l('About the Author') }}</div>

                    <div class="row ">
                        <!--begin::Col-->
                        <div class="col-sm-4 col-md-4">
                            <!--begin::Overlay-->
                            <a class="d-block overlay h-100 h-200px" href="javascript:;">
                                <div class="symbol h-100 w-100">
                                    <img [src]="authorProfilePicture"
                                        class="img-wrap object-fit h-100 w-100 overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded profilepicture"
                                        height="100px" alt="user" />
                                </div>
                                <!--end::Image-->
                            </a>
                            <!--end::Overlay-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-sm-8 col-md-8">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column h-100">
                                <!--begin::Header-->
                                <div class=" ">
                                    <!--begin::Title-->
                                    <div class=" ">
                                        <a href="javscript:;"
                                            class="text-hover-primary text-gray-900  fs-3 mb-3">{{course.authorName}}</a>
                                    </div>
                                    <!--end::Title-->

                                </div>
                                <!--end::Header-->
                                <!--begin::Body-->
                                <div class="d-flex flex-column text-gray-500 fs-4">
                                    {{course.authorDescription}}
                                </div>
                                <!--end::Body-->
                                <!--begin::Footer-->
                                <!--end::Footer-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card widget 15-->

            <!--end::Home card-->
            <!--begin::Home card-->
            <div class="card explore-section  bg-transparent border-0">
                <!--begin::Body-->
                <div class="card-body p-0">

                    <div *ngIf="course?.lessonsFk && course.lessonsFk.length == 0" class="alert alert-warning"
                        role="alert">
                        <h4 class="alert-heading">{{ l('No Modules') }}</h4>
                        <p>{{ l('No Modules Description') }}</p>
                        <hr>
                        <p class="mb-0">{{ l('No Modules Footer') }}</p>
                    </div>

                    <!--begin::Section-->
                    <div *ngIf="course?.lessonsFk && course?.lessonsFk.length > 0" class="text-center">
                        <!--begin::Accordion-->


                        <div class="main-head courses-tab" style="border-bottom: 0">
                            <div class="boxs d-flex justify-content-between align-items-end">
                                <div class="fs-1">
                                    <p class="text-gray-900 fs-2 mb-6 text-start">{{ l('List of Modules') }}</p>
                                    <div class="d-flex gap-2 total-lessons">
                                        <span
                                            class="text-gray-500 fs-4 d-flex gap-3 align-items-center inn-les">{{courseVeiw.lessonCount}}
                                            {{ l('Modules') }}</span>
                                        <span
                                            class="text-gray-500 fs-4 d-flex gap-3 align-items-center inn-les">{{totalLessonsCount}}
                                            {{ l('Lessons') }}</span>
                                        <span
                                            class="text-gray-500 fs-4 d-flex gap-3 align-items-center inn-les">{{courseVeiw.lessonTime}}</span>
                                    </div>
                                </div>
                                <div class="expand_wrap">
                                    <span (click)="toggleAllLessonsExpansion(isAllExpanded)">{{expandText}} all Lessons
                                    </span>
                                </div>
                                <!-- <ul>
            <li *ngFor="let lesson of course.lessonsFk; let lessonIndex = index"><span>{{ lessonIndex + 1 }}</span></li>
        </ul> -->
                                <!-- <ul class="">
                                    <li *ngFor="let lesson of course.lessonsFk; let lessonIndex = index">
                                        <span>{{ lessonIndex + 1 }} </span>
                                        
                                    </li>
                                </ul> -->
                            </div>
                        </div>


                        <div class="accordion-wrap">
                            <accordion *ngFor="let lesson of course.lessonsFk; let lessonIndex = index"
                                [isAnimated]="true" class="custom-accordion pe-0">
                                <accordion-group [isOpen]="lessonExpansions[lessonIndex]">
                                    <button
                                        class="btn btn-link btn-block d-flex justify-content-between align-items-center w-100 shadow-none"
                                        accordion-heading type="button" (click)="toggleDescription(lesson.id)">
                                        <!-- <span class="count">{{ lessonIndex + 1 }}</span> -->
                                        <div class="d-flex w-100 justify-content-between align-items-center gap-4">
                                            <div class="head flex-grow-1"><span class="arr"><i
                                                        class="fa fa-chevron-down pull-right text-white"></i></span>
                                                {{lesson.name}} </div>
                                            <div class="lesson-duration d-flex align-items-center">
                                                <ul class="d-flex gap-3 p-0 mb-0">
                                                    <li *ngIf="lesson.lessonActivityCount <= 1"
                                                        class="list-inline-item">
                                                        <p
                                                            class="activities-icon text-gray-500 fs-4 d-flex gap-3 align-items-center mb-0">
                                                            {{lesson.lessonActivityCount}} {{ l('lesson') }}</p>
                                                    </li>
                                                    <li *ngIf="lesson.lessonActivityCount > 1" class="list-inline-item">
                                                        <p
                                                            class="activities-icon text-gray-500 fs-4 d-flex gap-3 align-items-center mb-0">
                                                            {{lesson.lessonActivityCount}} {{ l('lessons') }}</p>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <p
                                                            class="time-icon text-gray-500 fs-4 d-flex gap-3 align-items-center mb-0">
                                                            {{lesson.lessonActivityTime}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div *ngIf="activityVisibility[lesson.id]" class="subhead ps-12 text-gray-500">
                                            {{lesson.description}} </div>
                                    </button>
                                    <!-- Content for each activity -->

                                    <div *ngFor="let activity of lesson.activityFk;  let activityIndex = index">
                                        <!--begin::Feature post-->
                                        <div class="card-xl-stretch cursor-pointer"
                                            (click)="selectCourseLessonActivity(activity.id)">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div
                                                        class="d-flex lessons-outer align-items-center justify-content-between">
                                                        <div class="d-flex gap-4 align-items-center">
                                                            <a class="video-box1 d-block position-relative"
                                                                href='javascript:;'>
                                                                <svg width="24" height="24" viewBox="0 0 24 24"
                                                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path
                                                                        d="M22.54 6.42C22.4212 5.94541 22.1793 5.51057 21.8386 5.15941C21.498 4.80824 21.0707 4.55318 20.6 4.42C18.88 4 12 4 12 4C12 4 5.11999 4 3.39999 4.46C2.92924 4.59318 2.50197 4.84824 2.16134 5.19941C1.82071 5.55057 1.57878 5.98541 1.45999 6.46C1.14521 8.20556 0.991228 9.97631 0.999992 11.75C0.988771 13.537 1.14276 15.3213 1.45999 17.08C1.59095 17.5398 1.8383 17.9581 2.17814 18.2945C2.51797 18.6308 2.93881 18.8738 3.39999 19C5.11999 19.46 12 19.46 12 19.46C12 19.46 18.88 19.46 20.6 19C21.0707 18.8668 21.498 18.6118 21.8386 18.2606C22.1793 17.9094 22.4212 17.4746 22.54 17C22.8524 15.2676 23.0063 13.5103 23 11.75C23.0112 9.96295 22.8572 8.1787 22.54 6.42Z"
                                                                        stroke="#C5C5C5" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                    <path d="M9.75 15.02L15.5 11.75L9.75 8.48V15.02Z"
                                                                        stroke="#C5C5C5" stroke-width="2"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round" />
                                                                </svg>
                                                            </a>
                                                            <span
                                                                class="text-gray-900 text-hover-primary fs-4 text-decoration-underline">
                                                                {{activity.name}}
                                                            </span>
                                                        </div>
                                                        <div class="d-flex duration-les">
                                                            <div class="fs-4"
                                                                id="videoDuration-{{lessonIndex}}{{activityIndex}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--begin::Image-->
                                                    <!-- <a class="video-box d-block bgi-no-repeat bgi-size-cover bgi-position-center card-rounded position-relative" href='javascript:;'><span>{{activityIndex + 1}}</span>
                                                       <img [src]="activity.titleImage" class="w-100" style="background-size: cover;" /> 
                                                    </a> -->
                                                    <!--end::Image-->
                                                </div>
                                                <!-- <div class="col-lg-7 col-12">
                                                    
                                                    <div class="m-0 content">
                                                       
                                                        <span class="text-gray-900 text-hover-primary fs-2 fw-bold">
                                                            {{activity.name}}
                                                        </span>
                                                        <div id="videoDuration-{{lessonIndex}}{{activityIndex}}"></div>
                                                        <p class="text-gray-500 text-hover-primary fs-4">{{activity.description}}</p>
                                                    
                                                    </div>
                                                 
                                                </div> -->
                                            </div>
                                        </div>
                                        <!--end::Feature post-->
                                    </div>

                                </accordion-group>
                            </accordion>
                        </div>

                    </div>
                    <!--end::Section-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Home card-->

        </div>
        <!--end::Content container-->
    </div>
</div>